PORT=3000
DB_HOST=ep-twilight-smoke-ambusk7w-pooler.c-5.us-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_blKoUm4S9rpT
JWT_SECRET=a8be3ff1855ebe566a3ea2156e2216f414552e51ddbfadb8480c452ceff71366
